body {
    background-color: #d9d9d9;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

img {
    width: 200px;
    height: 200px;
}

h1 {
    font-family: Verdana;
    color:#1e4252;
}

p {
    font-family: Helvetica;
    color:#1e4252;
    text-align: justify;
    margin: 5px;
    margin-right: 10px;
}


h2 {
    font-family: Verdana;
    color: #1e4252;
}

h3 {
    font-family: arial;
    color: #1e4252;
}

h4 {
    font-family: Arial;
    color: #1e4252;
}

ol {
    font-family: Helvetica;
    color: #1e4252;
}